body {
  background-color: whitesmoke;
  box-sizing: content-box;
  width: 100%;
}

/* .langDropdown {
  
} */

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
}

.header h1 {
  margin: 5px;
  color: darkred;
  text-align: center;
}

.yearsWrap {
  height: 70vh;
  overflow-y: scroll;
}